{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for image in images %}
          <li data-target="#carouselExampleIndicators" data-slide-to="{loop.index}"
            {% if loop.index == 1 %}class="active" {% endif %}></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner">
          {% if images %}
          {% for image in images %}
          <div class="carousel-item {% if loop.index == 1 %}active {% endif %}">
            <!-- Need to stick the active class on the first slide otherwise the carousel glitches out -->
            <img class="d-block w-100" src="{{image.image}}" alt="First slide" height="450">
          </div>
          {% endfor %}
          {% endif %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card" style="width: 38rem;">
        <div class="card-body">
          <h5 class="card-title">{{user.username}}</h5>
          <!-- <p class="card-text">⭐⭐⭐⭐⭐ <a href="">42 Reviews</a></p> -->
          <!-- <p class="card-text">This user is a trusted seller. <a href=""><svg width="1em" height="1em"
                viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
              </svg></a></p> -->
        </div>
      </div>
      <div class="table-responsive-sm">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th scope="row">Listing Title:</th>
              <td>{{item.listing_title}}</td>
            </tr>
            <tr>
              <th scope="row">Book Title:</th>
              <td>{{item.book_title}}</td>
            </tr>
            <tr>
              <th scope="row">Author:</th>
              <td colspan="2">{{item.author_name}}</td>
            </tr>
            <tr>
              <th scope="row">ISBN:</th>
              <td colspan="2">{{item.book_ISBN}}</td>
            </tr>
            <tr>
              <th scope="row">Category:</th>
              <td colspan="2">{{item.book_category.value}}</td>
            </tr>
            <tr>
              <th scope="row">Book Condition:</th>
              <td colspan="2">{{item.book_condition.value}}</td>
            </tr>
            <tr>
              <th scope="row">Autograph Status:</th>
              <td colspan="2">{{item.autograph_status.value}}</td>
            </tr>
            <!-- {% with message = get_flashed_messages(category_filter=["Nonbidding"]) %}
            {% if message %}
            <tr class="table-danger">
              <td colspan="3">{{ message[0] }}</td>
              </p>
              {% endif %}
              {% endwith %} -->
              
              <!-- for loop is not needed, need to be improved -->
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
              {% for category, message in messages %}
            <tr class="{{category}}">
              <td colspan="3">{{ message }}</td>
              {% endfor %}
              </p>

              {% endif %}
              {% endwith %}
          </tbody>
        </table>
      </div>
      <br>
      <!-- <div class="card" style="width: 38rem;">
          <div class="card-header">
            <b>Listing Title:</b> SIGNED - 1ST EDITION - HITCHHIKER'S GUIDE
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Book Title:</b> The Ultimate Hitchhiker's Guide to the Galaxy</li>
            <li class="list-group-item"><b>Author:</b> Douglas Adams</li>
            <li class="list-group-item"><b>Edition:</b> 1st Edition</li>
            <li class="list-group-item"><b>ISBN:</b> 420420420420</li>
            <li class="list-group-item"><b>Category:</b> Science Fiction</li>
            <li class="list-group-item"><b>Print Type:</b> Paperback</li>
            <li class="list-group-item"><b>Book Condition:</b> Pristine</li>
            <li class="list-group-item"><b>Autograph Status:</b> ✔️</li>
            <li class="list-group-item list-group-item-danger">This information is supplied by the seller and is not
              verified by
              Buckley's Books.</li>
          </ul>
        </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br>
      <div class="card border-light mb-3" style="max-width: 62rem;">
        <div class="card-header">
          <h5>Item Description</h5>
        </div>
        <div class="card-body">
          <h6 class="card-title">{{item.listing_title}}</h6>
          <p class="card-text">{{item.listing_description}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Current Highest Bid</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
          <h3 style="text-align: center;">
            {% if bids %}
            {% set highest_bid = namespace(value = 0) %}
            {% for bid in bids %}
            {% if bid.bid_price > highest_bid.value %}
            {% set highest_bid.value = bid.bid_price %}
            {% endif %}
            {% endfor %}
            {{"$%.2f"|format(highest_bid.value)}}
            {% else %}
            {{"$%.2f"|format(item.starting_bid)}}
            {% endif %}
          </h3>
          </p>
        </div>
        <div class="card-footer text-muted">
          Bidding for this item started at: {{"$%.2f"|format(item.starting_bid)}}
          <br>
          This item was first published on: {{formatted_datetime}}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      {% if current_user.is_authenticated %}
      {% if current_user.id == item.user_id %}
      <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#bidView"><svg
          width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-check" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
          <path fill-rule="evenodd"
            d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z" />
        </svg> View bids on your listing</button>
      <br>
      <div class="modal fade" id="bidView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Bidding</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4>Your listing details:</h4>
              <hr>
              <div class="table-responsive-sm">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <th scope="row">Listing Title:</th>
                      <td>{{item.listing_title}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Book Title:</th>
                      <td>{{item.book_title}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Author:</th>
                      <td colspan="2">{{item.author_name}}</td>
                    </tr>
                    <tr>
                      <th scope="row">ISBN:</th>
                      <td colspan="2">{{item.book_ISBN}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Category:</th>
                      <td colspan="2">{{item.book_category.value}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Book Condition:</th>
                      <td colspan="2">{{item.book_condition.value}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Autograph Status:</th>
                      <td colspan="2">{{item.autograph_status.value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <hr>
              <h4>Latest Bid(s):</h4>
              {% if bids %}
              <div class="table-responsive-sm">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Date/Time</th>
                      <th scope="col">Username</th>
                      <th scope="col">Bid Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for bid in bids %}
                    <tr class="table{% if loop.index == 1 %}-success {% endif %}">
                      <!-- First table entry needs to be green to highlight highest current bid-->
                      <th scope="row">{{bid.bid_datetime.strftime("%m/%d/%Y, %H:%M:%S")}}</th>
                      <td>{% for bidder in bidders %} {% if bidder.id == bid.user_id %} {{bidder.username}} {% endif %}
                        {% endfor %}</td>
                      <td>{{"$%.2f"|format(bid.bid_price)}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <hr>
              <h4>Current highest bid on your item:</h4>
              <hr>
              <h5>{% if bids %} {{"$%.2f"|format(highest_bid.value)}} {% else %} {{"$%.2f"|format(item.starting_bid)}}
                {% endif %}</h5>
              {% else %}
              <h5>There are no current bids on your item.</h5>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% else %}
      {% with message = get_flashed_messages(category_filter=["Bidding"]) %}
      {% if message %}
      <p class="text-danger"> {{ message[0] }}</p>
      {% endif %}
      {% endwith %}

      {% if bid_form.bid_price.errors %}
      <p>{{ bid_form.bid_price.errors[0] }}</p>
      {% endif %}
      {% if item.item_status == 'Open' %}
      <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#bidModal"><svg
          width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-check" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
          <path fill-rule="evenodd"
            d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z" />
        </svg> Bid Now</button>
      <br>
      {% else %}
      <button type="button" class="btn btn-danger btn-lg btn-block disabled"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-closed" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
      </svg> Bidding has closed</button>
    <br>
      {% endif %}
      {% endif %}
      <a href="{{url_for('item.watch', item_id = item.id)}}" class="btn btn-{% if item.item_status == 'Open' %}primary{% else %}danger{% endif %} btn-lg btn-block"><svg width="1em" height="1em" viewBox="0 0 16 16"
          class="bi bi-card-checklist" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
          <path fill-rule="evenodd"
            d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
        </svg> Add to Watchlist</a>
      {% else %}
      <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('auth.login') }}" role="button">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-check"
          fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
          <path fill-rule="evenodd"
            d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z" />
        </svg> Login to place a bid</a>
      <br>
      <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('auth.login') }}" role="button"><svg width="1em" height="1em"
          viewBox="0 0 16 16" class="bi bi-card-checklist" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
          <path fill-rule="evenodd"
            d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
        </svg> Login to add this item to your watchlist</a>
      {% endif %}
      <br>
      <button type="button" class="btn btn-primary btn-lg btn-block"><svg width="1em" height="1em" viewBox="0 0 16 16"
          class="bi bi-share" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
        </svg> Share this listing</button>
      {% if current_user.id == item.user_id %}
      <!-- If the current user is the one who posted the item -->
      <br>
      <button type="button" class="btn btn-danger btn-lg btn-block{% if item.item_status == 'Closed' %} disabled{% endif %}" {% if item.item_status == 'Open' %}data-toggle="modal" data-target="#closeModal"{% endif %}><svg
          width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-x" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z" />
          <path fill-rule="evenodd"
            d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z" />
        </svg> {% if item.item_status == 'Closed' %}This auction has already been closed{% else %}Close this auction{% endif %}</button>
      <div class="modal fade" id="closeModal" tabindex="-1" role="dialog" aria-labelledby="closeModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="closeModal">Are you sure you wish to close this auction?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% if bids %}
              <p>This will <b>close</b> your listing and <b>finalise</b> the auction.</p>
              <p>Your listing will go to the highest current bidder and <b>users will no longer be able to make bids on
                  this item.</b></p>
              <p>You will be selling this item for: <span
                  style="color:green"><b>{{"$%.2f"|format(highest_bid.value)}}</b></span></p>
              {% else %}
              <p>This will <b>close</b> your listing and <b>finalise</b> the auction.</p>
              <p>There are <b>no current bids</b> for this listing.</p>
              <p>Closing this listing will ensure that users will <b>not be able to make bids</b> on this item.</p>
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <a href="{{url_for('item.close', item_id = item.id)}}" class="btn btn-primary">Close the auction</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="modal fade" id="bidModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bidding</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h4>You are choosing to bid on:</h4>
                <hr>
                <div class="table-responsive-sm">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th scope="row">Listing Title:</th>
                        <td>{{item.listing_title}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Book Title:</th>
                        <td>{{item.book_title}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Author:</th>
                        <td colspan="2">{{item.author_name}}</td>
                      </tr>
                      <tr>
                        <th scope="row">ISBN:</th>
                        <td colspan="2">{{item.book_ISBN}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Category:</th>
                        <td colspan="2">{{item.book_category.value}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Book Condition:</th>
                        <td colspan="2">{{item.book_condition.value}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Autograph Status:</th>
                        <td colspan="2">{{item.autograph_status.value}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>Book Title:</b> The Ultimate Hitchhiker's Guide to the Galaxy</li>
                  <li class="list-group-item"><b>Author:</b> Douglas Adams</li>
                  <li class="list-group-item"><b>Edition:</b> 1st Edition</li>
                  <li class="list-group-item"><b>ISBN:</b> 420420420420</li>
                  <li class="list-group-item"><b>Category:</b> Science Fiction</li>
                  <li class="list-group-item"><b>Print Type:</b> Paperback</li>
                  <li class="list-group-item"><b>Book Condition:</b> Pristine</li>
                  <li class="list-group-item"><b>Autograph Status:</b> ✔️</li>
                  <li class="list-group-item list-group-item-danger">This information is supplied by the seller and is
                    not verified by Buckley's Books.</li>
                </ul> -->
                <hr>
                <h4>Current bid to beat:</h4>
                {% if bids %}
                <div class="table-responsive-sm">
                  <h3>{{"$%.2f"|format(highest_bid.value)}}</h3>
                </div>
                {% else %}
                <h5>There are no current bids! Be the first to place a bid!</h5>
                {% endif %}
                <hr>
                <h4>Place Bid:</h4>
                <hr>
                <form method="POST" action="{{url_for('item.bid',item_id=item.id)}}">
                  {{ bid_form.hidden_tag() }}
                  {{bid_form.bid_price(class="form-control", type="text", placeholder="Enter a bid")}}

                  <!-- don't know how to add the below placeholder text -->
                  <!-- greater than: {% if bids %} {{"$%.2f"|format(highest_bid.value)}} {% else %} {{"$%.2f"|format(item.starting_bid)}} {% endif %} -->
                  <!-- <input class="form-control" type="text"
                  placeholder="Enter a bid greater than: {% if bids %} {{"$%.2f"|format(highest_bid.value)}} {% else %} {{"$%.2f"|format(item.starting_bid)}} {% endif %}"> -->
              </div>
              <div class="modal-footer">
                <div class="form-check">
                  {{bid_form.agree(class="form-check_input")}}
                  <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> -->
                  <label class="form-check-label" for="defaultCheck1">
                    {{bid_form.agree.label}}
                  </label>
                </div>
                <a type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                {{bid_form.bid(class="btn btn-primary")}}
                <!-- <button type="button" class="btn btn-primary">Place Bid</button> -->
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Doesn't require commenting/review functionality
        <div class="row">
          <div class="col-md-12">
            <div class="card border-light mb-3" style="max-width: 62rem;">
              <br>
              <div class="card-header">
                <h5>Reviews</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">⭐⭐⭐⭐⭐ Very satisfied with my purchase!<a href=""> (Bookboy42)</a></h6>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum officia ut vel
                  atque
                  aliquid nostrum id minima saepe, numquam porro distinctio odit quia nemo temporibus dignissimos
                  accusantium facere ullam ab.</p>
                <h6 class="card-title">⭐⭐⭐⭐⭐ Happy customer :)<a href=""> (Bookgirl99)</a></h6>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum officia ut vel
                  atque
                  aliquid nostrum id minima saepe, numquam porro distinctio odit quia nemo temporibus dignissimos
                  accusantium facere ullam ab.</p>
                <h6 class="card-title">⭐⭐⭐⭐ Scuff on the front cover, but otherwise pristine<a href="">
                    (Veryseriousman)</a></h6>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum officia ut vel
                  atque
                  aliquid nostrum id minima saepe, numquam porro distinctio odit quia nemo temporibus dignissimos
                  accusantium facere ullam ab.</p>
                <hr>
                <form>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">
                      <h5>Post a review</h5>
                    </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </form>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="reviewCheck">
                  <label class="form-check-label" for="reviewCheck">
                    I agree to the <a href="">terms and conditions</a> associated with posting my review.
                  </label>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
{% endblock %}
