{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../static/adams.hitchfive.cov.gif" alt="First slide" height="633">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../static/hhg_download_final1.jpg" alt="Second slide" height="633">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../static/The_Hitchhiker's_Guide_to_the_Galaxy.jpg" alt="Third slide"
              height="633">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card" style="width: 38rem;">
        <div class="card-body">
          <h5 class="card-title">AdamsFan42</h5>
          <p class="card-text">⭐⭐⭐⭐⭐ <a href="">42 Reviews</a></p>
          <p class="card-text">This user is a trusted seller. <a href=""><svg width="1em" height="1em"
                viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
              </svg></a></p>
        </div>
      </div>
      <div class="table-responsive-sm">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th scope="row">Listing Title:</th>
              <td>SIGNED - 1ST EDITION - HITCHHIKER'S GUIDE {{pageid}}</td>
            </tr>
            <tr>
              <th scope="row">Book Title:</th>
              <td>The Ultimate Hitchhiker's Guide to the Galaxy</td>
            </tr>
            <tr>
              <th scope="row">Author:</th>
              <td colspan="2">Douglas Adams</td>
            </tr>
            <tr>
              <th scope="row">Edition:</th>
              <td colspan="2">1st Edition</td>
            </tr>
            <tr>
              <th scope="row">ISBN:</th>
              <td colspan="2">420420420420</td>
            </tr>
            <tr>
              <th scope="row">Category:</th>
              <td colspan="2">Science Fiction</td>
            </tr>
            <tr>
              <th scope="row">Print Type:</th>
              <td colspan="2">Paperback</td>
            </tr>
            <tr>
              <th scope="row">Book Condition:</th>
              <td colspan="2">Pristine</td>
            </tr>
            <tr>
              <th scope="row">Autograph Status:</th>
              <td colspan="2">✔️</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <!-- <div class="card" style="width: 38rem;">
          <div class="card-header">
            <b>Listing Title:</b> SIGNED - 1ST EDITION - HITCHHIKER'S GUIDE
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Book Title:</b> The Ultimate Hitchhiker's Guide to the Galaxy</li>
            <li class="list-group-item"><b>Author:</b> Douglas Adams</li>
            <li class="list-group-item"><b>Edition:</b> 1st Edition</li>
            <li class="list-group-item"><b>ISBN:</b> 420420420420</li>
            <li class="list-group-item"><b>Category:</b> Science Fiction</li>
            <li class="list-group-item"><b>Print Type:</b> Paperback</li>
            <li class="list-group-item"><b>Book Condition:</b> Pristine</li>
            <li class="list-group-item"><b>Autograph Status:</b> ✔️</li>
            <li class="list-group-item list-group-item-danger">This information is supplied by the seller and is not
              verified by
              Buckley's Books.</li>
          </ul>
        </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <br>
      <div class="card border-light mb-3" style="max-width: 62rem;">
        <div class="card-header">
          <h5>Item Description</h5>
        </div>
        <div class="card-body">
          <h6 class="card-title">SIGNED - 1ST EDITION - HITCHHIKER'S GUIDE</h6>
          <p class="card-text">ONE OF A KIND! Signed by Douglas Adams himself, first edition in mint condition. MUST
            OWN for any serious collector! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum officia ut
            vel atque aliquid nostrum id minima saepe, numquam porro distinctio odit quia nemo temporibus dignissimos
            accusantium facere ullam ab.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>Current Highest Bid</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
          <h3 style="text-align: center;">$54.05</h3>
          </p>
        </div>
        <div class="card-footer text-muted">
          Last Bid: 8 second(s) ago!
          <br>
          There are 02 day(s), 7 hour(s), 23 minute(s) and 52 second(s) left!
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#bidModal"><svg
          width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-check" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
          <path fill-rule="evenodd"
            d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z" />
        </svg> Bid Now</button>

      <br>
      <button type="button" class="btn btn-primary btn-lg btn-block"><svg width="1em" height="1em" viewBox="0 0 16 16"
          class="bi bi-card-checklist" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
          <path fill-rule="evenodd"
            d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
        </svg> Add to Watchlist</button>
      <br>
      <button type="button" class="btn btn-primary btn-lg btn-block"><svg width="1em" height="1em" viewBox="0 0 16 16"
          class="bi bi-share" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
        </svg> Share this listing</button>

    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="modal fade" id="bidModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bidding</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h4>You are choosing to bid on:</h4>
                <hr>
                <div class="table-responsive-sm">
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th scope="row">Listing Title:</th>
                        <td>SIGNED - 1ST EDITION - HITCHHIKER'S GUIDE</td>
                      </tr>
                      <tr>
                        <th scope="row">Book Title:</th>
                        <td>The Ultimate Hitchhiker's Guide to the Galaxy</td>
                      </tr>
                      <tr>
                        <th scope="row">Author:</th>
                        <td colspan="2">Douglas Adams</td>
                      </tr>
                      <tr>
                        <th scope="row">Edition:</th>
                        <td colspan="2">1st Edition</td>
                      </tr>
                      <tr>
                        <th scope="row">ISBN:</th>
                        <td colspan="2">420420420420</td>
                      </tr>
                      <tr>
                        <th scope="row">Category:</th>
                        <td colspan="2">Science Fiction</td>
                      </tr>
                      <tr>
                        <th scope="row">Print Type:</th>
                        <td colspan="2">Paperback</td>
                      </tr>
                      <tr>
                        <th scope="row">Book Condition:</th>
                        <td colspan="2">Pristine</td>
                      </tr>
                      <tr>
                        <th scope="row">Autograph Status:</th>
                        <td colspan="2">✔️</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>Book Title:</b> The Ultimate Hitchhiker's Guide to the Galaxy</li>
                  <li class="list-group-item"><b>Author:</b> Douglas Adams</li>
                  <li class="list-group-item"><b>Edition:</b> 1st Edition</li>
                  <li class="list-group-item"><b>ISBN:</b> 420420420420</li>
                  <li class="list-group-item"><b>Category:</b> Science Fiction</li>
                  <li class="list-group-item"><b>Print Type:</b> Paperback</li>
                  <li class="list-group-item"><b>Book Condition:</b> Pristine</li>
                  <li class="list-group-item"><b>Autograph Status:</b> ✔️</li>
                  <li class="list-group-item list-group-item-danger">This information is supplied by the seller and is
                    not verified by Buckley's Books.</li>
                </ul> -->
                <hr>
                <h4>Latest Bid(s):</h4>
                <div class="table-responsive-sm">
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Date/Time</th>
                        <th scope="col">Username</th>
                        <th scope="col">Bid Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-success">
                        <th scope="row">2/09/2020 14:32:04</th>
                        <td>b****</td>
                        <td>$54.05</td>
                      </tr>
                      <tr>
                        <th scope="row">2/09/2020 12:32:04</th>
                        <td>g****</td>
                        <td>$52.50</td>
                      </tr>
                      <tr>
                        <th scope="row">2/09/2020 09:32:04</th>
                        <td>b****</td>
                        <td>$49.00</td>
                      </tr>
                      <tr>
                        <th scope="row">2/09/2020 09:30:02</th>
                        <td>p****</td>
                        <td>$47.00</td>
                      </tr>
                      <tr>
                        <th scope="row">1/09/2020 17:15:04</th>
                        <td>s****</td>
                        <td>$45.00</td>
                      </tr>
                      <tr>
                        <th scope="row">1/09/2020 15:32:04</th>
                        <td>t****</td>
                        <td>$43.00</td>
                      </tr>
                      <tr>
                        <th scope="row">1/09/2020 14:22:04</th>
                        <td>b****</td>
                        <td>$41.00</td>
                      </tr>
                      <tr>
                        <th scope="row">1/09/2020 12:32:01</th>
                        <td>t****</td>
                        <td>$40.50</td>
                      </tr>
                      <tr>
                        <th scope="row">1/09/2020 11:50:04</th>
                        <td>b****</td>
                        <td>$39.00</td>
                      </tr>
                      <tr>
                        <th scope="row">1/09/2020 09:32:04</th>
                        <td>g****</td>
                        <td>$37.84</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <hr>
                <h4>Place Bid:</h4>
                <hr>
                <input class="form-control" type="text" placeholder="Enter a bid greater than $54.05:">
              </div>
              <div class="modal-footer">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    I agree to place the specified bid
                  </label>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Place Bid</button>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item list-group-item-warning">02 day(s), 7 hour(s), 23 minute(s) and 52
                    second(s) left!</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card border-light mb-3" style="max-width: 62rem;">
              <br>
              <div class="card-header">
                <h5>Reviews</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">⭐⭐⭐⭐⭐ Very satisfied with my purchase!<a href=""> (Bookboy42)</a></h6>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum officia ut vel
                  atque
                  aliquid nostrum id minima saepe, numquam porro distinctio odit quia nemo temporibus dignissimos
                  accusantium facere ullam ab.</p>
                <h6 class="card-title">⭐⭐⭐⭐⭐ Happy customer :)<a href=""> (Bookgirl99)</a></h6>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum officia ut vel
                  atque
                  aliquid nostrum id minima saepe, numquam porro distinctio odit quia nemo temporibus dignissimos
                  accusantium facere ullam ab.</p>
                <h6 class="card-title">⭐⭐⭐⭐ Scuff on the front cover, but otherwise pristine<a href="">
                    (Veryseriousman)</a></h6>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum officia ut vel
                  atque
                  aliquid nostrum id minima saepe, numquam porro distinctio odit quia nemo temporibus dignissimos
                  accusantium facere ullam ab.</p>
                <hr>
                <form>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">
                      <h5>Post a review</h5>
                    </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </form>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="reviewCheck">
                  <label class="form-check-label" for="reviewCheck">
                    I agree to the <a href="">terms and conditions</a> associated with posting my review.
                  </label>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}