{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!-- <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light22">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal"><b>Buckley's Books</b></h1>
    <p class="lead font-weight-normal">To all you book collectors out there: "Welcome Home."</p>
    <p class="lead font-weight-normal">Get started by searching through the world's largest book collector's
      repository.</p>
    <p>What piques your fancy?</p>
    <div class="md-form active-cyan active-cyan-2 mb-2">
      <input class="form-control" type="text" placeholder="Search for titles, authors, genres, and more."
        aria-label="Search">
    </div>
    <br>
    <a class="btn btn-outline-secondary" href="#">Search</a>
    <a class="btn btn-outline-secondary" href="#">More Advanced Search Options</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div> -->

{% if show_category_links %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../static/sciencefiction.jpg" alt="Science Fiction">
          <div class="card-body">
            <h5 class="card-title">Science Fiction</h5>
            <p class="card-text">The stars are at your fingertips.</p>
            <a class="btn btn-outline-secondary" href="/search/SCIENCE_FICTION"role=" button">Browse</a>
            <hr>
            <p class="card-text"><small class="text-muted">42 current listings</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../static/fantasy.jpg" alt="Fantasy" width="348" height="261">
          <div class="card-body">
            <h5 class="card-title">Fantasy</h5>
            <p class="card-text">Swords and dungeons and dragons, oh my!</p>
            <a class="btn btn-outline-secondary" href="/search/FANTASY"role=" button">Browse</a>
            <hr>
            <p class="card-text"><small class="text-muted">1571 current listings</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../static/mystery.jpg" alt="Mystery" width="348" height="261">
          <div class="card-body">
            <h5 class="card-title">Mystery</h5>
            <p class="card-text">We'd love to be more descriptive here, but it adds to the mystery.</p>
            <a class="btn btn-outline-secondary" href="/search/MYSTERY"role=" button">Browse</a>
            <hr>
            <p class="card-text"><small class="text-muted">567 current listings</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../static/mahatma.jpg" alt="Autobiography" width="348"
            height="261">
          <div class="card-body">
            <h5 class="card-title">Autobiography</h5>
            <p class="card-text">Get to know someone.</p>
            <a class="btn btn-outline-secondary" href="/search/AUTOBIOGRAPHY"role=" button">Browse</a>
            <hr>
            <p class="card-text"><small class="text-muted">242 current listings</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../static/autograph.jpg" alt="Auographed Works" width="348" height="261">
          <div class="card-body">
            <h5 class="card-title">Autographed Works</h5>
            <p class="card-text">For the author you adore. Browse among the titles listed as autographed.</p>
            <a class="btn btn-outline-secondary" href="/search/AUTOGRAPHED"role=" button">Browse</a>
            <hr>
            <p class="card-text"><small class="text-muted">2561 current listings</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../static/nonfiction.jpg" alt="Non-Fiction" width="348"
            height="261">
          <div class="card-body">
            <h5 class="card-title">Non-Fiction</h5>
            <p class="card-text">Sometimes the best stories are the true ones.</p>
            <a class="btn btn-outline-secondary" href="/search/NON_FICTION"role=" button">Browse</a>
            <hr>
            <p class="card-text"><small class="text-muted">4594 current listings</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if items %}
<div class="album py-5 bg-light22">
  <div class="container">
    <div class="position-relative overflow-hidden p-5 p-md-1 m-md-1 text-center bg-light22">
      <div class="col-md-5 p-lg-1 mx-auto my-1">
        {% if book_category %}
        <p class="lead font-weight-normal">Here are all the books in that category</p>
        {% else %}
        <p class="lead font-weight-normal">What's hot right now</p>
        <p>🔥 Check out what has just been listed 🔥</p>
        {% endif %}
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
  </div>
<!--TODO: FIX ABOVE TO MAKE SENSE WITH SEARCH-->
  <div class="row">
{% for item,num_bids,highest_bid in items %}
    <div class="col-sm">
      <div class="card mb-3 h-100" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/placeholder.jpg" class="card-img"
              alt="Novel cover image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              {% if item.item_status == 'Open' %}
              <span class="badge badge-pill badge-success">Item Still Available</span> <!-- Feel free to change how this looks aesthetically :) -->
              {% else %}
              <span class="badge badge-pill badge-danger">Auction Closed</span> <!-- Feel free to change how this looks aesthetically :) -->
              {% endif %}
              <hr> <!-- Feel free to change how this looks aesthetically :) -->
              <h5 class="card-title">{{item.listing_title}}</h5>
              <p class="card-text">{{item.listing_description|truncate(75, true, '...')}}</p>
              <p class="card-text"><small class="text-muted">{{num_bids}} current bid(s)!</small></p>
              <p class="card-text"><small class="text-muted">{% if highest_bid %}Highest current bid: {{highest_bid}} {% else %} No bids yet! Starting at: {{"$%.2f"|format(item.starting_bid)}} {% endif %}</small></p>
              <a class="btn btn-outline-secondary" href="{{url_for('item.show', id=item.id)}}"role="button">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
    </div>



{% else %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      No books were found
      </div>
    </div>
  </div>
{% endif %}
</div>
  {% endblock %}
